// For more colors use https://coolors.co/
$color-dark: black;
$color-white: white;

$color-gray: gray;
$color-gray-text: #AEABBA;
$color-gray-10: #F3F6FB;
// $color-gray-20: #F3F6FB;
$color-gray-30: #EEF2F7;
$color-gray-40: #c8cad3;
$color-gray-50: #9699A5;
$color-gray-80: #595F69;
$color-gray-90: #434752;
$color-gray-100: #272A30;

$color-black-3: #2C2E33;
$color-black-90: #131417;
$color-black-100: #070707;
$color-black-main: $color-black-100;


$color-red: #FF3434;
$color-blue: #4eb4f9;
$color-green: #4DF971;
$color-violet: #6610EB;

$color-primary-text: #9cdcfe;

/* Font Sizes */
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$font-size-h4: 0.875rem;
$font-size-h5: 0.75rem;
$font-size-text: 1rem;

$color-white: #FFFFFF;
$color-dark: #1A1A1A;

$color-gray: #CACACA;
$color-gray-dark: #8B8B8B;
$color-gray-light: #F0F2F8;

$color-blue: #0054da;
$color-red: #D62D30;

$color-primary-text: #9cdcfe;
