/* Layout */

@mixin WidthLimit {
	max-width: 1180px;
	margin: 0 auto;
}

@mixin Link {
	text-decoration: underline;

	&:active {
		text-decoration: none;
	}
}

/* Font */

@mixin Font($size: null, $weight: null, $line-height: 1.35) {
	font: {
		size: $size;
		weight: $weight;
	}

	line-height: $line-height;
	white-space: pre-line;
}

@mixin Typography($size, $weight: null, $emphasizeColor: $color-green) {
	font-size: $size;
	font-weight: $weight;
	white-space: pre-line;
	line-height: 1.25;

	@if $emphasizeColor !=null {
		em {
			color: $emphasizeColor;
		}
	}

	@include Mobile() {
		white-space: normal;

		br {
			display: none;
		}
	}
}

/* Adaptive */

$mobileMaxWidth: 450px;
$tabletMaxWidth: 1000px;

@mixin Mobile {
	@media screen and (max-width: $mobileMaxWidth) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: $tabletMaxWidth) {
		@content;
	}
}

/* Scrollbar */

@mixin Scrollbar($width: 1em, $thumbColor: rebeccapurple, $trackColor: white) {

	/* Firefox */
	& {
		scrollbar-width: thin;
		scrollbar-color: $thumbColor $trackColor;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		background: $trackColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumbColor;
		border-radius: 0.5em;
		border: 3px solid $trackColor;
	}
}

/* Input */

@mixin InputLabel {
	font-size: 14px;
	font-weight: 500;

	span.weak {
		color: $color-gray;
	}
}

// Input, Select, Textarea appearance.
@mixin InputAppearance($padding: 0.25em 0.5em) {
	padding: $padding;
	background: rgba(white, 0.25);
	border: 2px solid transparent;
	border-radius: 0.25em;

	color: white;
	transition: 200ms ease background-color, 200ms ease border-color;

	&:focus,
	&:focus-within,
	&--focused {
		background: rgba(white, 0.1);
		border-color: rgba($color-primary-text, 0.75);
	}

	&:disabled,
	&--disabled {
		background: rgba(white, 0.1);
		cursor: not-allowed;
	}
}
